/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid lightgrey;
    margin: 50px auto;
    padding:0;
    color: #333;
    overflow: visible;
    width:70%;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   header and nav
   ========================================================================== */

body{
  background-color: white;
  overflow-X:hidden;
}

#home{
  width:100%;
  height:100vh;
  background-image: url("../img/background2.jpg");
  background-size:cover;
  display:flex;
  justify-content: center;
  align-items: center;
}

header img{
  position:absolute;
  top:20px;
  left:20px;
  width:150px;
}

.menuToggle{
	display:block;
	position:fixed;
	top:30px;
	right:10px;
	z-index:1;
	user-select:none;
}

.menuToggle input{
	display:block;
	width:40px;
	height:32px;
	position:absolute;
	top:-4px;
	left:4px;
	cursor:pointer;
	opacity:0;
	z-index:2;
	-webkit-touch-callout:none;
}

.menuToggle span{
	display:block;
	width:33px;
	height:4px;
  margin:2px 0 5px 7px;
	position:relative;
	background:black;
	border-radius:3px;
	z-index:1;
	transform-origin:4px 0px;
	transition:transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}

.menuToggle span:first-child{
	transform-origin:0% 0%;
}

.menuToggle span:nth-last-child(2){
	transform-origin:0% 100%;
}

.menuToggle input:checked ~ span{
	opacity:1;
	transform:rotate(45deg) translate(-2px,-1px);
	background:rgba(255,255,255,0.7);
}

.menuToggle input:checked ~ span:nth-last-child(2){
	opacity:1;
	transform:rotate(-45deg) translate(0,-1px);
}

.menuToggle input:checked~span:nth-last-child(3){
	opacity:0;
	transform:rotate(0deg) scale(0.2,0.2);
}

.menu{
	position: absolute;
	width:80px;
	margin-top:-60px;
  margin-left:-20px;
	background:#232323;
  border-radius:0 0 0 10px;
  padding:80px 40px 20px 40px;
	list-style-type:none;
	transform-origin:0% 0%;
	transform:translate(0,-100%);
	transition:transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu li{
	padding:10px 0;
  margin-left:-30px;
	font-size:22px;
  text-align: center;
  width:55px;
}

.menu a{
	text-decoration:none;
	color:rgba(255,255,255,0.7);
	transition:color 0.3s ease;
}
.menu a:hover{
	color:#2ecc71;
}

.menuToggle input:checked~ul{
	transform:scale(1.0,1.0);
	opacity:1;
}

.dot{
  color:#2ecc71;
  font-size: 80px;
}

.myself{
  background-color:rgba(255,255,255,0.5);
  border:3px solid #2ecc71;
  text-align: center;
  height:auto;
  padding:0 15px 45px 15px;
}

.myself h1, .myself h2{
  font-family: 'Comfortaa', cursive;
  font-size: 40px;
}

/* ==========================================================================
   project
   ========================================================================== */

#realization{
  width:80%;
  height:auto;
  display:block;
  margin: auto;
}



h3{
  border-bottom:1px solid lightgrey;
  text-align:center;
  width:70%;
  display:block;
  margin:30px auto 100px;
  font-size:28px;
  font-family: 'Comfortaa', cursive;
}

.main_project h3 span, .form_contact h3 span{
  position:relative;
  top:17px;
  background:white;
  padding:0 35px;
  color:#2ecc71;
}

.main_project{
  margin-top:20px;
  height:auto;
}

.main_project hr{
  margin-bottom:100px;
}

.main_project img{
  width:100%;
  box-shadow: -11px 11px 18px 0px rgba(0,0,0,0.3);
  overflow:hidden;
}

.first_project, .second_project, .third_project{
  text-align:center;
  background-color: white;
}

.main_project .more_info{
  font-size:22px;
  padding:0 10px 10px 0;
}

.repo_site{
  width:30%;
  font-size:16px;
  line-height: 1.8;
  display:block;
  margin:auto;
  height:40px;
  color:white;
  padding-top:4px;
  margin-top:40px;
  background-color: #2ecc71;
  border:3px solid #2ecc71;
  text-align: center;
  border-radius: 5px;
  transition: all 0.5s;
}

.repo_site:hover{
  text-decoration: none;
  color:#2ecc71;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(46,204,112,1);
}

.first_project_row, .third_project_row{
  padding-bottom:40px;
}

.second_project_row{
  padding-bottom: 80px;
}
.main_project p{
  width:80%;
  display:block;
  margin:auto;
  height:auto;
  padding-top:4px;
  background-color: white;
  color:black;
}

.container_more_project{
  padding-bottom: 50px;
}

.title_project_more{
  width:100%;
  height:auto;
  border:2px dashed #2ecc71;
  font-size: 30px;
  color: #333333;
  line-height: 2.2;
  padding-top:5px;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Comfortaa', cursive;
}

.title_project_more i{
  position:relative;
  left:0px;
  top:17px;
}

.title_project_more input{
	display:block;
	width:40px;
	height:32px;
	position:relative;
	top:12px;
	left:30px;
	cursor:pointer;
	opacity:0;
	z-index:2;
	-webkit-touch-callout:none;
}

.more_project{
  height:500px;
  border:1px solid lightgrey;
  display:none;
}

.title_project_more input:checked~i{
  transform:rotate(45deg);
  top:12px;
  left:-12px;
}

.title_project_more input:checked~.more_project{
  display:block;
  margin:auto;
  margin-bottom:70px;
}

/* ==========================================================================
   About
   ========================================================================== */

.container_about{
  padding:30px;
  background-color:rgba(245,245,245);
}

.container_about h3 span{
  position:relative;
  top:17px;
  background:rgba(245,245,245);
  padding:0 35px;
  color:#2ecc71;
}

.title_about{
  width:100%;
  height:100px;
  margin-top:20px;
  border:3px solid #2ecc71;
  font-size: 39px;
  color: #333333;
  text-align: center;
  line-height: 2.3;
}

.description_about img{
  float:left;
}

.about{
  line-height:1.5;
  font-size:16px;
}

.icon_about{
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  height:150px;
  cursor:pointer;
}
.icon_about:hover{
  animation: bounce 0.35s ease infinite alternate;
}

/* ==========================================================================
   form
   ========================================================================== */

input {
	outline: none;
	border:none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent;
}

button {
	outline: none;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

#contact {
  width: 100%;
  height:720px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#fff;
}

.form_contact {
  width: 80%;
  height:auto;
  display:block;
  background: #fff;
  border-radius: 10px;
  padding: 50px 150px 30px 150px;
}

.contact_form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 68px;
}

.contact_form_title {
  display: block;
  width: 100%;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 44px;
}



.form_contact_input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 13px;
  margin-bottom: 65px;
}

.contact_input100 {
  width: 48%;
}

.label_input {
  font-size: 15px;
  color: #999999;
  line-height: 1.5;
  padding-left: 5px;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding: 0 5px;
  border:none;
}

.focus_input{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: -1px;
  left: 0;
  pointer-events: none;
}

.focus_input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.4s;
  background: #2ecc71;
}

input.input100 {
  height: 40px;
}

textarea.input100 {
  min-height: 110px;
  resize:none;
  padding-top: 9px;
  padding-bottom: 13px;
}

.input100:focus + .focus_input::before {
  width: 100%;
}

.has-val.input100 + .focus_input::before {
  width: 100%;
}


.container_contact_button{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: -25px;
}

.contact_button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #2ecc71;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  transition: all 0.4s;
  box-shadow: 0 10px 30px 0px rgba(46,204, 73, 0.5);
}

.contact_button i {
  transition: all 0.4s;
  margin-left:10px;
}

.contact_button:hover {
  background-color: #333333;
  box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}

.contact_button:hover i {
  transform: translateX(10px);
}


/* ==========================================================================
   footer
   ========================================================================== */

footer{
  width:100%;
  height:80px;
  background-color:black;
  display:flex;
  justify-content: center;
  align-items:center;
}

footer li{
  display:inline-block;
  margin:10px 10px 0 10px;
}

footer i{
  color:rgba(255,255,255,0.7);
  transition:0.3s ease;
}

footer i:hover{
  color:#2ecc71;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media (max-width: 992px) {

  .form_contact {
    padding: 32px 80px 0 80px;
  }

}

@media (max-width: 768px) {

  .contact_input100 {
    width: 100%;
  }

  #contact{
    height:900px;
  }

  .form_contact{
    padding:32px 50px 0 50px;
  }

  .myself h1, .myself h2{
    font-size: 30px;
  }
}

@media (max-width: 576px) {

  .form_contact{
      padding:32px 25px 0 25px;
 }

}

@keyframes bounce{
     from {top: 0px;}
     to   {top: -20px;}
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
